<p id="notice"><%= notice %></p>

<% @people.each do |art, people_for_art| %>
  <h1><%= art.abbrev %> People</h1>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Family</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Dob</th>
          <th>Belts</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% people_for_art.each do |person| %>
          <tr>
            <td><%= person.family.name %></td>
            <td><%= person.first_name %></td>
            <td><%= person.last_name %></td>
            <td><%= person.dob %></td>
            <td><% person.belts.each do |belt| %>
              <% if belt.art == art %>
                <div class="<%= belt.color %>"><%= belt.art.abbrev %> <%= belt.level %></div>
              <% end %>
            <% end %></td>
            <td><%= link_to 'Show', [person.family, person] %></td>
            <td><%= link_to 'Edit', edit_family_person_path(person.family, person) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
