<tr>
  <td><%= course.day %></td>
  <td><%= course.time %></td>

  <td><%= link_to 'Show', art_course_path(@art, course) %></td>
  <td><%= link_to 'Attendance', art_course_attendance_path(@art, course) %></td>
  <td><%= link_to 'Edit', edit_art_course_path(@art, course) %></td>
</tr>
