<tr id="belt-<%= belt.id %>">
  <td><%= link_to belt.level, [@art, belt] %></td>
  <td>
    <% if belt.img %>
      <%= image_tag(belt.img) %>
    <% end %>
  </td>
  <td><%= belt.rank %></td>

  <td><%= link_to 'Show', art_belt_path(@art, belt) %></td>
  <td><%= link_to 'Edit', edit_art_belt_path(@art, belt) %></td>
</tr>
